.modal{
    --bs-modal-bg: none !important;
}

.ModalContent .modal-header{
    position: absolute;
    top: 2.6%;
    width: 100%;
    z-index: 1000 !important;
    border: 0;
    border-bottom: 0 !important;
}

.ModalContent .modal-header .btn-close{
    margin-right: 5px !important;
    background-color: white !important;
    border-radius: 200px;
    opacity: 1 !important;
}

.ModalContent .modal-body{
    display: flex !important;
    padding: 0 30px !important;
}

.carousel-indicators [data-bs-target]{
    display: none !important;
}

.Content_Carousel{
    display: flex !important;
    align-items: center !important;
    margin: 0 auto;
    width: 1000px;
}

.Content_Carousel img{
    width: 100%;
    border-radius: 12px !important;
}

@media (max-width: 1070px){
    .Content_Carousel{
        width: 100%;
    }
}

.ContainerButton{
    position: absolute;
    top: 3%;
    right: 2%;
    border: 0 !important;
    font-weight: 700 !important;
    border-radius: 0 !important;
    background-color: transparent !important;
    transition: all .5s ease-in-out;
}

.ContainerButton:hover{
    color: #888 !important;
}