.card{
    border: 0 !important;
    background-color: transparent !important;
    box-shadow: 0 0 25px 7px #00000070 !important;
    border-radius: 12px !important;
    color: #fff !important;
}

.card-body{
    margin: 20px;
}

.card-title{
    display: flex;
    align-items: center;
}

.card-text2{
    height: 120px;
    overflow-y: auto;
    padding-right: 12px;
    margin-top: 25px;
}

.card-text2::-webkit-scrollbar {
    width: 4px;
}
  
.card-text2::-webkit-scrollbar-track { 
    background-color: #fff;
}
  
.card-text2::-webkit-scrollbar-thumb {
    background-color: #000;
}

@media (max-width: 425px){
    .card-title{
        font-size: 17px !important;
    }

    .card-text{
        font-size: 15px !important;
    }
}

@media (max-width: 375px){
    .card-title{
        font-size: 15px !important;
    }

    .card-text{
        font-size: 14px !important;
    }
}

/* Estilos para el componente de CardProyect */
.Links{
    display: flex;
    justify-content: space-between;
}

.Links a{
    text-decoration: none;
    color: #fff;
    box-shadow: 0 0 20px 5px #00000046;
    padding: 8px 15px;
    border-radius: 12px;
    transition: all .3s ease-in-out;
}

.Links a:hover{
    transition: all .5s ease-in-out;
    box-shadow: 0 0 10px 0 #00000046;
}

.Icons{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.Icons ul{
    list-style: none;
    padding: 0 !important;
    margin: 0 !important;
}

.Icons ul li{
    display: inline-block;
}