/* <-------------------- Estilos para el Contenedor de las Cards--------------------> */
.ContainerCards{
    padding: 25px;
    background-color: rgb(0, 0, 0) !important;
    box-shadow: 1px 0 12px  0 white;
    margin-bottom: 30px;
    margin-top: 5px;
    margin-left: 25px;
    margin-right: 25px;
}

/* <-------------------- Estilos para el Titulo de la Card --------------------> */
.card-title{
    text-align: center !important;
    color: #fff !important;
    font-weight: 800 !important;
    font-size: 25px !important;
    text-transform: uppercase !important;
    margin-bottom: 20px !important;
}

/* <-------------------- Estilos para el Texto de la Card --------------------> */
.card-text{
    color: #fff !important;
}

.DescriptionCard{
    height: 90px;
    overflow-y: auto;
}

.DescriptionCard::-webkit-scrollbar {
    width: 4px;
}
  
.DescriptionCard::-webkit-scrollbar-track { 
  background-color: #fff;
}
  
.DescriptionCard::-webkit-scrollbar-thumb {
  background-color: #888;
}

/* <-------------------- Estilos para el Contenedor Principal del Acordeon --------------------> */
.ContentInfo{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

/* <-------------------- Estilos para el Contenedor del acordeon --------------------> */
.accordion{
    --bs-accordion-btn-padding-y: 0.5rem !important;
}

/* <-------------------- Estilos para el boton del acordeon --------------------> */
.accordion-button{
    background-color: #fff !important;
    outline: none !important;
    box-shadow: none !important;
}

/* <-------------------- Estilos para el boton que esta en el cuerpo del acordeon--------------------> */
.accordion-body{
    padding: 0 !important;
    padding-left: 9px !important;
}

.accordion-body button{
    border-radius: 0 !important;
    background-color: transparent !important;
    color: #000 !important;
    border: 0;
    text-align: left;
    cursor: default !important;
}

/* <-------------------- Estilos para el el boton de Github --------------------> */
.btn{
    display: flex !important;
    align-items: center;
}

.ButonA{
    border: 0 !important;
    color: #000 !important;
    background-color: #fff !important;
    height: 24%;
}

.ButonA a{
    text-decoration: none;
    color: #000;
    font-weight: 700 !important;
}

/* <-------------------- Estilos para Media Querys (Responsive) --------------------> */
@media (max-width: 1126px){
    .ContainerCards{
        margin-bottom: 0;
    }

    .ContainerCards:last-child{
        margin-bottom: 20px;
    }

    .accordion-button{
        width: 120px !important;
        padding: 8px 15px !important;
    }

    .accordion{
        width: 121px !important;
    }

    .DescriptionCard{
        height: 95px;
        overflow-y: auto;
    }

    .DescriptionCard::-webkit-scrollbar {
        width: 4px;
    }
      
    .DescriptionCard::-webkit-scrollbar-track { 
      background-color: #fff;
    }
      
    .DescriptionCard::-webkit-scrollbar-thumb {
      background-color: #888;
    }
}

@media (min-width: 1364px){
    .ContentAccordion{
        width: 40% !important;
    }
}

@media (max-width: 360px){
    .ContentInfo{
        display: flex;
        flex-direction: column !important;
    }

    .ButonA{
        margin-top: 15px;
        width: 53%;
    }
}


/* <------------------- Estilos para el mensaje de sugerencia -------------------> */
.Mensaje{
    color: red;
    font-weight: 700;
    margin-top: 15px;
}