/*Estilos para el contenedor principal*/
.ContainerContact{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

/*Estilos para el titulo principal*/
.ContainerContact, .Content_Title{
    color: #fff;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
}

/*Estilos para la linea debajo del titulo*/
.ContainerContact hr{
    border-top: 2px solid #fff !important;
}

/*Estilos para el contenedor hijo*/
.ContentContact{
    display: flex;
    justify-content: space-between;
}

/*Estilos de texto de correo electronico y correo*/
.Contact{
    display: flex;
}

/*Estilo para el contenido de las redes sociales*/
.ContentRedes{
    font-size: 15px;
    color: #ff0000;
}

.ContactSpan{
    font-size: 15px;
    color: #fff;
    text-transform: capitalize;
    margin-left: 20px;
}

/*Estilos para los iconos y listado de redes sociales*/
.ContentListRedes{
    display: flex;
}

.ContentListRedes{
    color: #ff0000;
    font-size: 15px;
    text-transform: uppercase;
}

.ContentListRedes ul li{
    list-style: none;
}

.ContentListRedes ul li a{
    text-decoration: none;
    margin-left: 15px;
    font-size: 15px;
    color: #fff;
    text-transform:capitalize;
}

.ContentListRedes ul li a svg{
    margin-right: 4px;
}

@media (max-width: 767px){
    .ContentContact{
        display: flex;
        flex-direction: column;
    }

    .ContentListRedes ul li a{
        margin: 0;
    }
}

@media (max-width: 541px){
    .ContainerContact .Content_Title{
        font-size: 30px;
        text-align: center;
    }

    
    .Contact{
        display: flex;
        flex-direction: row;
    }

    .Contact, .ContactCorreo, .ContactSpan,
    .ContentListRedes ul li a{
        font-size: 12px;
    }

    .ContentListRedes, .ContentRedes{
        font-size: 15px;
    }

    .ContentListRedes ul li a svg{
        width: 24px;
    }
}