/*Estilos para el contenedor principal*/
.ContainerContact{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

.ContainerContact, .Content_Title{
    color: #fff;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
}

.ContainerContact hr{
    border-top: 2px solid #fff !important;
}

/*Estilos para el contenedor hijo*/
.ContentContact{
    display: flex;
    justify-content: space-between;
}

/*Estilos de texto de correo electronico y correo*/
.Contact{
    display: flex;
}

.ContactCorreo{
    margin-right: 20px;
}

.ContactCorreo, .ContactCorreo, .ContactSpan{
    font-size: 15px;
    color: #fff;
    text-transform: capitalize;
}

.ContactCorreo .CorreoSpan{
    margin-left: 20px;
}

/*Estilos para los iconos y listado de redes sociales*/
.ContentListRedes{
    display: flex;
}

.ContentListRedes, .ContentRedes{
    color: #fff;
    font-size: 15px;
    text-transform: capitalize;
}

.ContentListRedes ul li{
    list-style: none;
}

.ContentListRedes ul li a{
    text-decoration: none;
    margin-left: 15px;
    font-size: 15px;
    color: #fff;
    text-transform:capitalize;
}

.ContentListRedes ul li a svg{
    margin-right: 4px;
}

@media (max-width: 675px){
    .ContentContact{
        display: flex;
        flex-direction: column;
    }

    .ContentListRedes{
        margin-top: 20px;
    }
}

@media (max-width: 541px){
    .ContainerContact .Content_Title{
        font-size: 30px;
    }

    .Contact{
        display: flex;
        flex-direction: column;
    }

    .Contact, .ContactCorreo, .ContactSpan{
        font-size: 15px;
    }

    .ContentListRedes, .ContentRedes{
        font-size: 18px;
    }

    .ContentListRedes ul li a{
        font-size: 15px;
    }

    .ContentListRedes ul li a svg{
        width: 24px;
    }
}