.Inputs{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    column-gap: 20px;
}

@media (max-width: 1802px){
    .Inputs{
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        row-gap: 15px;
    }
}

@media (max-width: 1339px){
    .Inputs{
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

.Formulario .form-control{
    outline: 0 !important;
    border: 0 !important;
    background-color: transparent !important;
    color: #fff !important;
    box-shadow: 0 0 5px 2px #ffffff5c !important;
    transition: all .3s ease-in-out !important;
}

.Formulario .form-control:focus{
    box-shadow: 0 0 5px 1px #ffffff25 !important;
}

.Formulario .form-control::placeholder{
    color: #ffffffb7 !important;
}

.form-switch .form-check-input{
    box-shadow: none !important;
}

.swicht{
    color: #fff;
}

.Checked{
    display: flex;
    align-items: center;
}

.info_termins{
    margin-left: 5px;
}

.Formulario .ButtonSub{
    display: block;
    margin: 0 auto;
    border: 0 !important;
    background-color: transparent !important;
    box-shadow: 0 0 24px 5px #00000070 !important;
    transition: all .5s ease-in-out !important;
}

.Formulario .ButtonSub:hover{
    transition: all .5s ease-in-out !important;
    box-shadow: 0 0 20px 0 #00000070 !important;
}


.modal-body{
    font-family: Arial, Helvetica, sans-serif !important;
    padding: 10px 25px !important;
    margin-bottom: 25px !important;
    text-align: justify;
    height: 400px;
    overflow-y: auto;
}

.modal-body::-webkit-scrollbar-track { 
    background-color: #fff !important;
}

.modal-body::-webkit-scrollbar-thumb {
    background-color: #888 !important;
}
