/*---------- Estilos para el Contenedor Principal del Footer ----------*/
.RightContainer{
    position: absolute;
    bottom: 1%;
    right: 3%;
    overflow-y: hidden;
}

/*---------- Estilos para el Contenedor Derecho del Footer ----------*/
.RightFooter p{
    color: #fff;
    font-weight: 600;
}

/*---------- Estilos para el Contenedor Izquierdo del Footer ----------*/
.LeftContainer{
    position: absolute;
    bottom: 2%;
    left: 3%;
}

.LeftFooter{
    background-color: rgb(0, 0, 255);
    padding: 7px 15px;
    border-radius: 20px;
}

.LeftFooter:hover{
    background-color: rgb(29, 29, 229);
    
}

.LeftFooter a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}