/*---------- Estilos de Contenido de la Imagen ----------*/
.ContentImg{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.ContentImg img{
    width: 240px;
}

/*---------- Estilos de Texto de Carga ----------*/
.TextLoading{
    position: absolute;
    bottom: 15%;
    left: 51%;
    transform: translate(-50%, -50%);
}

.TextLoading h2{
    font-size: 3rem;
    font-weight: 800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 5px;
}

/*---------- Estilos de la animacion de los Texto de Carga ----------*/
.Cargando{
    color: #000000 !important;
    text-shadow: 
        -1px 1px 0 #fff,
        1px -1px 0 #fff,
        1px 1px 0 #fff,
        -1px 1px 0 #fff;
}

.Cargando2{
    color: rgb(255, 72, 0);
    animation: wave 3s ease-in-out infinite;
}

@keyframes wave{
    0%, 100%{
        clip-path: polygon(
            0% 47%,
            10% 48%,
            33% 54%,
            54% 60%,
            70% 61%,
            84% 59%,
            100% 70%,
            100% 100%,
            0% 100%
        );
    }

    50%{
        clip-path: polygon(
            0% 60%,
            15% 65%,
            34% 66%,
            51% 61%,
            67% 50%,
            84% 45%,
            100% 46%,
            100% 100%,
            0% 100%
        );
    }

    0%{

    }
}

/*---------- Estilos Responsives del Contenido de la Imagen y el Texto de Carga ----------*/
@media (max-width: 768px) {
    .ContentImg {
        height: 100vh;
    }

    .ContentImg img {
        width: 100%;
        max-width: 240px;
    }

    .TextLoading {
        top: 75%;
        transform: translate(-50%, -75%);
    }
}

/*---------- Estilos Responsives del Texto de Cargaen ----------*/
@media (max-width: 419px) {
    .TextLoading {
        top: 68%;
    }

    @media (max-width: 419px){
        .TextLoading {
            top: 73%;
        }
    }
}