/*---------- Estilos de todo el cuerpo ----------*/
body{
    display: flex;
    flex-direction: column;
    background-image: url(../assets/Fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}