/*---------- Estilos del Retorno al inicio principal de Proyectos.jsx ----------*/
.Return{
    color: #000;
}

.Return:hover{
    color: #f90404;
}

/*---------- Estilos para el Menu Link ----------*/
.Link{
    text-decoration: none !important;
    color: #000 !important;
    font-weight: 700 !important;
}

/*---------- Estilos NavbarBootstrap ----------*/
.NavbarXD{
    margin-top: 100px;
    margin-bottom: 40px;
    background-color: #fff !important;
}

.navbar-toggler{
    border-radius: 12px !important;
}

.navbar-toggler:focus{
    box-shadow: none !important;
}

.navbar-toggler-icon{
    background-image: white !important;
}