/*---------- Estilos del Contenedor del Menu de Navegacion y del Boton ----------*/
.Container_Navbar{
    display: flex;
    justify-content: left;
    align-items: center;
    align-content: center;
    height: 100vh;
}

.Container_Navbar button{
    color: #fff;
}

/*---------- Estilos del Listado del Menu de Navegacion ----------*/
.Listado_Navbar{
    list-style: none;
    margin-right: 45px;
}

.Listado_Navbar li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 8vw;
    font-weight: 700;
}

.Listado_Navbar li{
    transition: transform 0.3s ease;
}

.Listado_Navbar li:hover{
    transform: translateX(15px);
    transition: all .5s;
}

.Listado_Navbar li a:hover{
    color: #c1c1c1c7;
}

/*---------- Estilos Responsives del Listado, la Imagen del menu de Navegacion y el Footer ----------*/
@media (max-width: 550px){
    .Listado_Navbar li a{
        font-size: 13vw;
        text-align: center;
    }

    /*---------- Componente de Copy.jsx ----------*/
    .NavbarFooter{
        bottom: 3%;
        right: 5%;
    }
}
