.navbar{
    --bs-navbar-padding-x: none !important;
    position: sticky;
    top: 0;
}

.navbar-toggler-icon{
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

/* Estilo para el sombreado del contenedor */
.Body-Navbar{
    box-shadow: 0 0 2px 3px #fff;
}

.navbar-brand{
    padding: 0 !important;
    margin: 0 !important;
}

.navbar-brand a{
    text-decoration: none !important;
    font-weight: 700 !important;
    color: #fff;
    font-size: 25px;
    transition: all .3s ease-in-out;
}

.navbar-brand a img{
    width: 60px;
    padding: 0 !important;
    margin: 0 !important;
}

/* Estilos para la etiqueta de link del menu de navegación */
.nav-link a{
    text-decoration: none !important;
    color: #fff !important;
    font-weight: 500 !important;
    transition: all .4s ease-in-out;
}

/* Estilo para enlaces activos */
.nav-link.active {
    color: #7a7a7a !important; /* Color del texto para enlaces activos */
    text-decoration: underline;
}
  
/* Estilo para hover */
.nav-link a:hover {
    color: #7a7a7a !important; /* Color del texto cuando se pasa el mouse sobre el enlace */
}