.ReturnContainer{
    position: absolute;
    top: 5%;
    left: 5%;
}

.IconReturn{
    transition: all .5s ease-in;
}

.IconReturn:hover{
    transition: all .5s ease-in;
    color: rgb(163, 163, 163) !important;
    transform: rotate(180deg);
}