body{
    background: linear-gradient(45deg, #051b32 20%, #560548 90%) !important;
    background-attachment: fixed !important;
    height: 100vh;
    width: 65%;
    margin: 0 auto !important;
}

/*----> Estilos para la barra de desplazamiento <----*/
body::-webkit-scrollbar {
    width: 4px;
}
  
body::-webkit-scrollbar-track { 
    background-color: #fff;
}
  
body::-webkit-scrollbar-thumb {
    background-color: #000;
}

/* Estilos para el componente de HomeApp */
.Experiencia h2,
.Proyectos h2{
    color: #fff;
    margin-bottom: 20px !important;
    margin-top: 30px !important;
}

.Cards1{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(700px, 1fr));
    gap: 20px;
}

.Cards2{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 20px;
}

@media (max-width: 2184px){
    .Cards1{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
        gap: 20px;
    }
}

@media (max-width: 2028px){
    .Cards2{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
        gap: 20px;
    }   
}

@media (max-width: 1569px){
    .Cards1,
    .Cards2{
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }
}

@media (max-width: 505px){
    body{
        width: 80%;
    }

    .Cards1,
    .Cards2{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        gap: 20px;
    }
}

/* Estilo titulo contactame*/
.Contactame{
    color: #fff;
    margin-top: 20px;
}

.ContainerContact{
    display: grid;
    grid-template-columns: 30% 70%;
    column-gap: 20px;
}

.InfoContact a {
    text-decoration: none;
    color: #fff;
    transition: all .3s ease-in-out;
}

.InfoContact .Contact_Email a:hover{
    color: rgb(120, 120, 120);
}

.Curriculum{
    box-shadow: 0 0 10px 5px #fbfbfb34;
    border-radius: 12px;
    padding: 10px 15px;
    width: 80px;
    transition: all .3s ease-in-out;
}

.Curriculum:hover{
    box-shadow: 0 0 5px 2px #fbfbfb10;
}

/* Media Query 1339px*/
@media (max-width: 1339px){
    .ContainerContact{
        grid-template-columns: auto;
    }

    .ContactApp{
        margin-top: 20px;
    }
}

/* Estilo Footer*/
.ContainerFooter{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ContainerFooter p{
    margin-top: 40px;
    color: #fff;
}