@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=DM+Serif+Display:ital@1&display=swap');

/*---------- Estilos de todo el cuerpo ----------*/
body{
  display: flex;
  flex-direction: column;
  background: linear-gradient(45deg, #001f3f 20%, #6b0058 90%);
  height: 100vh;
  width: auto;
  background-attachment: fixed;
  font-family: 'Bree Serif', serif !important;
}

/*----> Estilos para la barra de desplazamiento <----*/
body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-track { 
  background-color: #fff;
}

body::-webkit-scrollbar-thumb {
  background-color: #888;
}

/* espaciado de la pagina */
.ContentPort{
  padding: 50px;
}

/* ---------------> Estilos para el contenido de "Sobre Mi" <--------------- */
.section1{
  display: flex;
  align-items: center;
}

.section2,
.section3{
  margin-top: 30px;
}

.section2 h2,
.section3 h2{
  color: #fff;
}

.section1 .Foto img{
  width: 250px;
  border-radius: 250px;
}

.section1 .ContentInfo{
  margin-left: 30px;
}

.section1 .ContentInfo h2{
  color: #fff;
  font-weight: 600;
}

.section1 .ContentInfo p{
  color: #fff;
  text-align: justify;
}

/* Estilos para el tabs */
.ContentInfo .Modulo1{
  display: flex;
}

.nav{
  --bs-nav-link-padding-x: 0 !important;
}

.nav-tabs{
  --bs-nav-tabs-border-width: 0 !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  background-color: transparent !important;
}

.nav-tabs .nav-link{
  color: #12ff3e !important;
  margin-right: 15px !important;
}

.nav-tabs .nav-link.active{
  text-decoration: underline !important;
  color: #0d8323 !important;
}

/* Estilos del primer modulo de la section1*/
.Modulo1 ul li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none  !important;
  color: #12ff3e;
  gap: 20px;
}


/* Estilos del segundo modulo2 de la section1*/
.Modulo2 ul{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin-bottom: 25px;
  list-style: none !important;
  padding: 0 !important;
}

.Modulo2 p span{
  color: #12ff3e;
}

/* Estilos del tercer modulo3 de la section1*/
.Modulo3 ul{
  list-style: none;
  padding: 0 !important;
}

.Modulo3 ul p{
  color: #fff !important;
}

.Modulo3 ul p span{
  color: #12ff3e !important;
}

/* Estilos del cuarto modulo4 de la section1*/
.Modulo4 ul{
  padding: 0 !important;
}

.Modulo4 ul li{
  list-style: none;
}

.Modulo4 ul li h5{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fff;
}

.Modulo4 ul li h5 .IconCode{
  margin-right: 10px;
}

/* Estilos del cuarto modulo5 de la section1*/
.Redes p{
  display: flex;
  align-items: center;
  color: #fff;
}

.Redes p .IconArrow{
  margin-right: 7px;
}

.Modulo5 ul li{
  list-style: none;
  display: inline-block;
  margin-right: 10px;
  transition: transform 0.3s ease-in;
}

.Modulo5 ul li:hover{
  transform: translateY(10px)
}

/* Estilos adaptativos*/
@media (max-width: 990px){
  .section1{
    display: block;
  }

  .Foto{
    margin-bottom: 20px;
  }

  .section1 .ContentInfo{
    margin: 0;
  }

  .section1 .Foto img{
    display: block !important;
    margin: 0 auto !important;
  }
}

@media (max-width: 520px){
  .ContentPort{
    padding: 30px !important;
  }
  
  .Modulo1 ul,
  .Modulo2 ul,
  .Modulo3 ul{
    padding-left: 0 !important;
  }
}

@media (max-width: 438px){
  .Modulo1{
    display: inline-block !important;
  }
}

/* ---------------> Estilos para el contenido de "Mis Proyectos" section2 <--------------- */
.Proyects{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  column-gap: 25px;
  row-gap: 10px;
  margin-top: 20px;
}

/* ---------------> Estilos para el contenido de "Contactame" section2 <--------------- */
.ContainerInformation{
  display: grid;
  grid-template-columns: 35% 65%;
  padding: 20px 40px;
}

@media (max-width: 980px){
  .ContainerInformation{
    grid-template-columns: auto;
  }

  .ContactApp{
    margin-top: 30px;
  }
}

.InfoContact{
  color: #fff;
}

.InfoContact button{
  border: 0;
  padding: 8px; 
  background-color: red;
  border-radius: 12px;
  box-shadow: 0 0 4px 2px rgb(174, 1, 1);
  transition: all .5s ease-in-out;
}

.InfoContact button:hover{
  box-shadow: 0 0 2px 1px #000;
}

.InfoContact a{
  text-decoration: none;
  color: #fff;
}

